{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center min-vh-100 align-items-center">
        <div class="py-2" style="width: 350px;">
            <div class="card bg-white">
                <div class="card-body">
                    <img src="{% static 'images/logo_lg.png' %}" alt="" class="img-responsive">
                    <div class="card-subtitle text-center font-weight-bold text-muted h6">
                        Sign up to see photos and videos from your friends.
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-blue mt-3 btn-sm w-100"><i class="fas fa-user mx-1"></i>Go to login page </a>
                    <div class="d-flex flex-row or_">
                        <div class="col-sm-5 border-bottom"></div>
                        <div class="p-1 small">OR</div>
                        <div class="col-sm-5 border-bottom"></div>
                    </div>
                    {{form.non_field_errors}} 
                    <form action="{% url 'register' %}" class="form-horizontal reg_form" method="POST">
                        {% csrf_token %}
                        <input name="{{form.username.name}}" type="text" class="my-1" placeholder="Username" id="{{form.username.id}}">
                        {{form.username.errors}}
                        <input name="{{form.password1.name}}" type="password" class="my-1" placeholder="Password" id="{{form.password.id}}">
                        {{form.password1.errors}}
                        <input name="{{form.password2.name}}" type="password" class="my-1" placeholder="Confirm Password">
                        {{form.password2.errors}}

                        <button class="btn btn-blue mt-3 btn-sm w-100">Signup </button>
                        <p class=" text-center small text-muted">By signing up, you agree to our Terms, Data Policy and Cookies Policy .</p>
                    </form>
                    <!-- {{form}} -->
                </div>
            </div>
            <div class="py-2" style="width: 350px;">
                <div class="card bg-white">
                    <div class="card-body text-center">
                        Have an account? <a href="{% url 'login' %}" class="card-link">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}