{% load static %}
<div class="container-fluid bg-white border-bottom sticky-top nav-cont">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <nav class="col navbar navbar-light py-2 navbar-expand-md">
                <a href="/" class="navbar-brand">
                    <img src="{% static 'images/logo_sm.png' %}" alt="" class="img-responsive">
                </a>
                <div class="d-none d-md-flex col justify-content-end">
                    <form action="/" class="form-inline align-items-center">
                        <input type="search" name="search" id="" class="form-control form-control-sm m-auto">
                    </form>
                </div>
                <div class="col link-col row justify-content-end">
                    {% if request.user.is_authenticated %}
                    <a href="/" class="nav-link"><i class="fas fa-home fa-lg"></i></a>
                    <a href="{% url 'make_post' %}" class="nav-link"><i class="fas fa-plus fa-lg"></i></a>
                    <a href="{% url 'profile' request.user %}" class="nav-link"><i class="far fa-user-circle fa-lg"></i></a>

                    <a href="{% url 'logout' %}" class="text-danger nav-link"><i class="fa fa-power-off fa-lg"></i></a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-sm border-dark"><i class="far fa-user fa-lg"></i> Sign In</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
