<div class="card bg-white small">
    <header class="d-flex align-items-center p-2">
        <img src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/101024143_237941580840302_9217693196736266240_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&_nc_ohc=aWDtXo9T934AX9bnm-V&oh=86a20abf41a6ab98ebdff493147cbf9e&oe=5EFCA465" width="32" class="rounded-circle">
        <p class="m-0 font-weight-bold mx-2">__fleekboss__</p>
    </header>
    <div class="card-media p-0">
        <img class="card-img-top" decoding="auto" src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/101014104_299527494399868_2654193268449752130_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&amp;_nc_cat=104&amp;_nc_ohc=bQaMv9Jz1coAX8s6VaW&amp;oh=f7bf6566a68701dcdaf3839658b959fa&amp;oe=5EFB9773">


    </div>
</div>