<div class="col-md-1 col-sm-10 p-0 status-bar"></div>
<div class="col-md-5 col-sm-10 p-0 status-bar">
    <div class="card bg-white small status-card">
        <div class="d-flex">
            <div class="status">
                <img src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/101024143_237941580840302_9217693196736266240_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&_nc_ohc=aWDtXo9T934AX9bnm-V&oh=86a20abf41a6ab98ebdff493147cbf9e&oe=5EFCA465" alt="" class="rounded-circle">
                <figcaption class="fig-caption">User Here</figcaption>
            </div>
            <div class="status">
                <img src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/101024143_237941580840302_9217693196736266240_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&_nc_ohc=aWDtXo9T934AX9bnm-V&oh=86a20abf41a6ab98ebdff493147cbf9e&oe=5EFCA465" alt="" class="rounded-circle">
                <figcaption class="fig-caption">User Here</figcaption>
            </div>
        </div>
    </div>
    {% include 'includes/post_slides.html' %}
</div>


<div class="col-md-4 d-none d-md-flex px-3 status-bar flex-column right-0">
    <div class="my-profile-hm">
        <div class="profile d-flex">
            <img src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/101024143_237941580840302_9217693196736266240_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&_nc_ohc=aWDtXo9T934AX9bnm-V&oh=86a20abf41a6ab98ebdff493147cbf9e&oe=5EFCA465" alt="" class="rounded-circle">
            <div class="text p-2">
                <p class="font-weight-bold m-0">__fleekboss__</p>
                <p class="small m-0">Fleek 👑</p>
            </div>
        </div>
    </div>

    <div class="row font-weight-bold">
        <p class="col text-muted">Suggestions for you</p>
        <a href="#" class="card-link col">See All</a>
    </div>
    {% include 'includes/suggestions.html' %}

</div>