<ul class="row flex-column small">
    {% for suggestion in suggestions %}

    <li class="d-flex my-1 align-items-center border-bottom p-1" style="list-style: none;">
        <img src="{{suggestion.profile.first.profile_image.url}}" width="40" class="rounded-circle">
        <a href="{% url 'profile' suggestion %}" class="card-link col">{{suggestion.username}}</a>
        <a href="{% url 'follow' suggestion %}" class="card-link col font-weight-bold">Follow</a>
    </li>
    {% empty %}
    <li class="text-muted text-center small">No suggestions</li>
    {% endfor %}
</ul>