{% extends 'main_base.html' %}
{% load static %}
{% block scripts %}
{{block.super}}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center min-vh-90 align-items-center">
        <form action="" class="form-horizontal col-sm-10 col-md-6" method="POST" enctype="multipart/form-data">
            {{profile_form.non_field_errors}}
            {% csrf_token %}
            <div class="form-group">
                <div class="">
                    <img src="{{request.user.profile.first.profile_image.url}}" class="img-thumbnail mx-auto d-flex my-2" width="120">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="{{profile_form.profile_image.name}}" class="btn btn-dark">
                            Profile<i class="fas fa-camera"></i>
                        </label>
                    </div>
                    <div class="custom-file">
                        <input type="file" id="{{profile_form.profile_image.name}}" name="{{profile_form.profile_image.name}}" accept="images/*" {%  if not request.user.profile.first.profile_image %}required {% endif%} class="custom-file-input">
                        <label class="custom-file-label">
                            <span class="small">
                                {% if request.user.profile.first.profile_image %}
                                {{request.user.profile.first.profile_image}}
                                {% else %}
                                Choose a profile image
                                {% endif %}
                            </span>
                        </label>

                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">

                    </div>
                    <div class="custom-file">

                    </div>
                </div>
                <textarea placeholder="Bio..." name='{{profile_form.bio.name}}' type="text" class="form-control" required>{{request.user.profile.first.bio}}</textarea>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" name="{{details_form.first_name.name}}" class="form-control" value="{{request.user.first_name}}" placeholder="First name" required>
                </div>
                <div class="col">
                    <input type="text" value="{{request.user.last_name}}" name="{{details_form.last_name.name}}" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-group py-2">
                <input type="email" value="{{request.user.email}}" name="{{details_form.email.name}}" class="form-control" placeholder="Email" required>
            </div>
            <button class="btn btn-outline-dark">Update</button>
        </form>
    </div>
</div>
{% endblock %}