{% extends 'main_base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-3 card my-4">
            <div class="card-top p-2 row align-items-center">
                <div class="profile-image-cont col">
                    <img src="https://instagram.fmba1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/101024143_237941580840302_9217693196736266240_n.jpg?_nc_ht=instagram.fmba1-1.fna.fbcdn.net&_nc_ohc=aWDtXo9T934AX9bnm-V&oh=86a20abf41a6ab98ebdff493147cbf9e&oe=5EFCA465" width="100" class="rounded-circle">
                </div>
                <div class="userinfo p-2 col">
                    <p class="font-weight-bold m-0">@{{user.username}} <br>
                        <span class="small text-muted">{{user.first_name}} {{user.last_name}}</span></p>
                </div>
                <div class="col">
                    {% if request.user == user %}
                    <p>Me</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}