{% extends 'main_base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-3">
            <div class="card-top row align-items-center">
                <div class="profile-image-cont">
                    <img src="{{user.profile.first.profile_image.url}}" width="120" class="rounded-circle">
                   
                </div>
                <div class="wrapper p-4">
                    {% if request.user == user %}
                    <div class="controls d-flex flex-column p-2">
                        <div class="top  d-flex flex-row">
                            <p class="h4 m-0 w-50">{{user}}</p> <br>
                            <button class="btn btn-sm border-dark">
                                <i class="fas fa-cog fa-lg"></i>
                            </button>
                        </div>
                        </span>
                        <a href="{% url 'update_profile' %}" class="btn btn-sm border-dark my-2">Edit Profile</a>
                        {% endif %}
                        <div class="bio px-3 text-muted font-italic">{{user.profile.first.bio}}</div>
                        <div class="profile-info font-weight-bold row" style="justify-self: end;">
                            <p class="posts_count p-2">{{posts | length}} Posts </p>
                            <p class="followers p-2">{{user.followers.all | length}} Followers </p>
                            
                            <p class="following p-2">{{user.following.all | length}} Following </p>

                            
                        </div>
                        {% if request.user != user %}
                        <a href="#" class="btn btn-sm  btn-outline-dark">
                            Follow
                        </a>
                        <a href="#" class="btn btn-sm  btn-dark">
                            Following
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr class="bg-dark m-1">
</div>

<div class="container">
    <div class="text-center font-weight-bold">Posts</div>
    <div class="row justify-content-center">
        {% include 'includes/posts.html' %}
    </div>
</div>

{% endblock %}