{% extends 'main_base.html' %}
{% block content %}
<div class="container">
    <div class="row min-vh-90">
        <div class="col-md-7 align-self-center">
            <div class="card">
                <a href="{% url 'profile' post.user.username %}" class="card-head p-2 text-dark">
                    <img src="{{post.user.profile.first.profile_image.url}}" alt="" width="32" class="rounded-circle">
                    <span class="font-weight-bold">{{post.user.username}}</span>
                </a>
                <img src="{{post.image.url}}" class="card-img-top">
                <div class="card-foot py-0">
                    <button class="btn btn-sm m-0">
                        <i class="far fa-heart fa-lg"></i>
                        <span class="badge badge-default bg-light">182</span>
                    </button>
                    <button class="btn btn-sm m-0">
                        <i class="far fa-comment fa-lg"></i>
                        <span class="badge badge-default bg-light">70</span>
                    </button>
                </div>
                <p class="card-text px-2">{{post.caption}}</p>
            </div>
        </div>
        <div class="col-md-5 py-3  border-left">
            <form action="{% url 'view_post' post.id %}" class="btn-group">
                <textarea name="" id="" class="btn border-dark form-control" placeholder="What do you think?💭"></textarea>
                <button class="btn btn-sm btn-dark">Comment</button>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock %}